* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text {
  font-family: "Sarabun", sans-serif !important;
  font-style: normal;
}

.text .light {
  font-weight: 200;
}

.text .regular {
  font-weight: 400;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
}

.download-cv {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

nav ul li a,
.download-cv {
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

.download-cv {
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.menu-icon {
  font-size: 24px;
  display: none;
}

.li-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


.intro {
  padding: 96px 20px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.around-center-flex-start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bg-odd {
  background-color: #F9FAFB;
}

.bg-even {
  background-color: #FFF;
}

.skill .text-content {
  max-width: 800px;
}

.introduce .text-content,
.about .text-content,
.contract .text-content {
  max-width: 600px;
}

.text-content .content-flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-content .content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.location {
  display: grid;
  align-items: left;
  gap: 10px 0px;
  font-size: 14px;
  color: #666;
  margin-bottom: 48px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons,
a {
  text-decoration: none;
  font-size: 24px;
  color: #666;
  cursor: pointer;
}

.introduce .profile-image {
  width: calc(150px + 10vw);
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about .profile-image {
  width: calc(250px + 10vw);
}

.mobile {
  visibility: hidden;
  display: none;
}

.pc {
  visibility: visible;
  display: inline;
}

.intro .emoji {
  font-size: 36px;
}

.about .badge-title {
  margin-bottom: 48px;
}

.skill .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 48px;
}

.skill .skill {
  text-align: center;
  width: 120px;
}

.skill .skill img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.experience-card-area {
  margin-top: 48px;
}

.experience-card-area .card {
  background-color: #fff;
  min-width: calc(100px + 10vw);
  width: 100%;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 48px;
  align-items: flex-start;
}

.experience-card-area .card-logo {
  width: calc(30px + 10vw);
  height: auto;
}

.experience-card-area .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.experience-card-area .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.experience-card-area .card-date {
  font-size: 0.9rem;
  color: #666;
  text-align: right;
}

.experience-card-area .card-description {
  font-size: 0.95rem;
  color: #555;
  list-style-type: disc;
  margin-left: 20px;
}

.contact .contact-info {
  font-size: 40px;
  margin: 48px 0px;
}

.contact .contact-info .mail,
.contact .contact-info .tel {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contact .contact-social-info .icons {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 0;
}

.contact .contact-info i {
  font-size: 30px;
}

.badge-title {
  background-color: #E5E7EB;
  color: #4B5563;
  padding: 4px 20px;
  border: none;
  border-radius: 12px;
  margin-bottom: 16px;
  width: fit-content;
  display: inline-block;
}

.copy-right {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
}

.copy-right a {
  text-decoration: underline;
  font-size: 16px;
  color: #666;
}

.contact-info .fas {
  cursor: pointer;
}

.contact-info .fas:hover::after {
  content: attr(title);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  top: -30px;
  font-size: 12px;
}

.copied-animation {
  animation: shake 0.3s ease;
}

@media (max-width: 1024px) {
  .experience-card-area .card {
    min-width: calc(30px + 10vw);
  }

  .experience-card-area .card-logo {
    width: calc(20px + 10vw);
    height: auto;
  }

  .about .intro {
    flex-direction: column;
  }

  .introduce .intro {
    flex-direction: column;
  }

  .flex-row {
    align-items: center;
    flex-direction: column;
    gap: 48px;
  }

  .about .profile-image {
    width: calc(300px + 10vw);
  }

  .about .mobile {
    visibility: visible;
    display: inline;
  }

  .about .pc {
    visibility: hidden;
    display: none;
  }

  .introduce .mobile {
    visibility: visible;
    display: inline;
  }

  .introduce .pc {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 768px) {

  nav ul {
    display: none;
  }

  .experience-card-area .card {
    min-width: calc(30px + 10vw);
    grid-template-columns: 1fr;
    text-align: left;
  }

  .experience-card-area .card-logo {
    width: calc(100px + 10vw);
  }

  .experience-card-area .card-date {
    text-align: left;
  }

  .menu-icon {
    display: inline;
  }

  .about .profile-image {
    width: calc(240px + 10vw);
  }

  .mobile {
    visibility: visible;
    display: inline;
  }

  .pc {
    visibility: hidden;
    display: none;
  }

  .text-content h1 {
    font-size: 1rem;
  }

  .text-content p {
    font-size: 1rem;
  }

  .profile-image {
    width: 100px;
    margin-bottom: 20px;
  }

  .contact .contact-info {
    font-size: 1rem;
  }

  .contact .contact-info i {
    font-size: 1rem;
  }
}